<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<connectionStrings>
		<add name="AppDB" connectionString="server=dvali.net; database=G12_PhoneBook; uid=G12; pwd=nebismieri"/>
	</connectionStrings>
</configuration>